.wrapper {
    display: flex;
}

#sidebar {
    min-height: 100vh;
    padding: 3em;
}
    #sidebar li {
        margin-bottom: 1em;
        border-bottom: 1px solid whitesmoke;
    }

#sidebar a {
    color: whitesmoke;
}

   





