<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleCMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <!------------- Sidebar ------------------>
        <nav id="sidebar" class="bg-info">
            <ul class="list-unstyled components">
                <li>
                    <a asp-controller="Admin" asp-action="AddPage">Add Page</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <!------------------Main Content------------------->
        <main class="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a asp-controller="Account" asp-action="SignOut"
                   class="btn btn-info">Odhlásit se</a>
            </nav>
            
            @RenderBody()
        </main>
    </div>
   

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>$(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
