@model SimpleCMS.Models.Page

@{
    ViewData["Title"] = "AddPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section head {
    <link href="~/css/addPageForm.css" rel="stylesheet" />
}

<h1>Create new page</h1>

<hr />
<section class="create-page">
    <form asp-action="AddPage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Headline" class="control-label"></label>
            <input asp-for="Headline" class="form-control" />
            <span asp-validation-for="Headline" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Subheadline" class="control-label"></label>
            <input asp-for="Subheadline" class="form-control" />
            <span asp-validation-for="Subheadline" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImagePath" class="control-label"></label>
            <input asp-for="ImagePath" class="form-control" />
            <span asp-validation-for="ImagePath" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NavName" class="control-label"></label>
            <input asp-for="NavName" class="form-control" />
            <span asp-validation-for="NavName" class="text-danger"></span>
        </div>
        <div class="row mt-2">
            <div class="form-group form-check col-6 text-center">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasImage" /> @Html.DisplayNameFor(model => model.IsHomePage)
                </label>
            </div>
            <div class="form-group col-6 justify-right">
                <input type="submit" value="Create Page" class="btn btn-primary submit-btn" />
            </div>
        </div>
    </form>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
