@model ICollection<Page>
@{
    ViewData["Title"] = "AddPage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="tab table-bordered table-striped">
    <tr>
        <th>Page name</th>
        <th>Page name</th>
        <th>Page name</th>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>