@model Page
@{
    ViewData["Title"] = "Home Page";
}

<header >
    <h1>@Model.Headline</h1>
    <h2>@Model.Subheadline</h2>
</header>

@foreach (Section section in Model.Sections)
{
    await Html.RenderPartialAsync("~/Views/Cms/Section.cshtml", section.Blocks);
}